body{width:100%;background:#fff}
/*头部开始*/
.head{width:100%;}
/*登录 管理 关于我们*/
.head_a{width:100%;height:23px;}
.head_aa{width:100%;height:5px;background:#7fb9c9;}
.head_ul{width:284px;height:18px;background:#c4dade;border-bottom-left-radius:18px;border-bottom-right-radius:17px;float:right;margin-right:55px;border-bottom:2px solid #aeced5;}
.head_ul li{float:left;margin-left:27px;}
.head_ul li a{color:#086278;font-size:12px;text-decoration:none;}
/*导航1*/
.head_b{width:1243px;margin:0 auto;margin-top:18px;}
.head_nav{width:100%;height:48px;}
.head_nav img{margin-left:2px;float:left;}
.head_nav .nav_ul{width:898px;margin-left:122px;float:left;}
.nav_ul li{width:178px;height:20px;text-align:center;float:left;border-right:2px solid #145985;margin-top:14px;}
.nav_ul li a{letter-spacing:10px;font-size:16px;color:#4498b7}
.nav_ul li a:hover{letter-spacing:10px;font-size:16px;color:#09c5db;text-decoration:none;}
.nav_ul .nav_uli{border-right:0;}
/*导航2*/
.nav{width:568px;height:32px;background:#a8cad2;margin:0 auto;border-radius:6px;line-height:32px;padding-left:54px;}
.y_a{width:16px;height:16px;border-radius:8px;background:#c5dbe0;float:left;margin-top:8px;}
.y_b{width:8px;height:8px;border-radius:4px;background:#fff;margin:4px 0 0 6px;}
.nav_a{margin-left:4px;float:left}
.nav_a li{margin-right:22px;float:left}
.nav_a li a{color:#3B93C4;font-size:14px;text-decoration:none;}
.nav_a li a:hover{color:#fff}
.banner{margin-top:17px;}
.banner img{width:100%;}


/*内容开始*/
#main{width:1243px;height:1044px;margin:0 auto;margin-top:54px;}
.main_left{width:271px;height:100%;margin-right:74px;float:left;}
.main_lt{width:269px;height:361px;background:#fff;border-radius:34px;border:1px solid #dbe3e4}
.main_ltu{width:234px;height:288px;margin:0 auto;margin-top:34px;}
.main_ltu li{width:234px;height:45px;border-bottom:2px dashed #bebebf;}
.main_ltu li a{width:204px;height:38px;line-height: 38px;display:block;margin-top:4px;padding:0 15px;background:url(../images/s_2_09.png) no-repeat right;}
.main_ltu li a:hover{width:204px;height:38px;line-height:38px;display:block;margin-top:4px;border-radius:4px;text-decoration:none;background:url(../images/s_3_13.jpg) no-repeat right #ddebed;padding-left:15px;padding-right:15px;}

.main_lb{width:236px;height:196px;margin:0 auto;margin-top:50px;}
.main_lbt{width:236px;height:75px;}
.main_lbtl img{float:left;}
.main_lbtr{width:154px;float:left;margin-left:8px;}
.main_lbtr h1{color:#2e93b4;font-size:24px;}
.main_lbtr h1 span{color:#8ba5c1;font-size:22px;}
.main_lbtr p{font-size:16px;}

.main_lbb{width:236px;height:75px;margin-top:45px;}
.main_lbbl img{float:left;}
.main_lbbr{width:154px;float:left;margin-left:8px;}
.main_lbbr h1{color:#2e93b4;font-size:24px;}
.main_lbbr h1 span{color:#8ba5c1;font-size:22px;}
.main_lbbr p{font-size:16px;}



/*底部内容开始*/
#fonnter{width:1243px;height:50px;background:#f4f4f4;margin:0 auto;margin-top:69px;border:#e4e4e4;border-top-left-radius:10px;border-top-right-radius:10px;line-height:50px;}
#fonnter p{text-align:center;font-size:14px;color:#a8b6b9;}

