<!-- 内容部分右侧开始 -->
	<div class="main_right">
		<div class="f_top_a">
			<div class="f_kuang">
				<div class="f_right_one">
					<p class="f_p">
						<span>我公司网站建议事项或问讯事项的部分可以通过这里告诉我。我会尽快修改。</span>
						<span>
								搜索分类
							<input type="text" value="输入表单-----------------"/><img src="images/f_5.jpg" class="f_imga"/>
							<input type="text" class="f_in" value="输入查询--------------------------------------------------"/><img src="images/f_5.jpg" class="f_imga"/>
							<input type="button"  class="f_in_one" value="搜索" />
						</span>
					</p>
				</div>
			</div>
		</div>
		<div class="f_bottom_a">
			<p class="f_one">共发布50条消息</p>
			<div class="f_right_two">
				<div class="f_table">
					<table>
						<tr class="f_tr_one" style="border-bottom:2px solid #009ebb;"><th style="width: 107px;">编号</th><th>内容</th><th>日期</th></tr>
						<tr><td>10</td><td>这里是自由论坛，大家可以自由讨论一下...</td><td>2008.01.01</td></tr>
						<tr><td>09</td><td>这里是自由论坛，大家可以自由讨论一下...</td><td>2008.01.01</td></tr>
						<tr><td>08</td><td>这里是自由论坛，大家可以自由讨论一下...</td><td>2008.01.01</td></tr>
						<tr><td>07</td><td>这里是自由论坛，大家可以自由讨论一下...</td><td>2008.01.01</td></tr>
						<tr><td>06</td><td>这里是自由论坛，大家可以自由讨论一下...</td><td>2008.01.01</td></tr>
						<tr><td>05</td><td>这里是自由论坛，大家可以自由讨论一下...</td><td>2008.01.01</td></tr>
						<tr><td>04</td><td>这里是自由论坛，大家可以自由讨论一下...</td><td>2008.01.01</td></tr>
						<tr><td>03</td><td>这里是自由论坛，大家可以自由讨论一下...</td><td>2008.01.01</td></tr>
						<tr><td>02</td><td>这里是自由论坛，大家可以自由讨论一下...</td><td>2008.01.01</td></tr>
						<tr><td>01</td><td>这里是自由论坛，大家可以自由讨论一下...</td><td>2008.01.01</td></tr>
					</table>
				</div>
				<div class="f_xu">
					<a href="javascript:;">
						<img src="images/f_6.png"/>
					</a>
					<a href="javascript:;">
						<img src="images/f_7.png"/>
					</a>
					<a href="javascript:;">1</a>
					<a href="javascript:;">2</a>
					<a href="javascript:;">3</a>
					<a href="javascript:;">4</a>
					<a href="javascript:;">5</a>
					<a href="javascript:;">6</a>
					<a href="javascript:;">7</a>
					<a href="javascript:;">8</a>
					<a href="javascript:;">9</a>
					<a href="javascript:;">10</a>
					<a href="javascript:;">
						<img src="images/f_8.png"/>
					</a>
					<a href="javascript:;">
						<img src="images/f_9.png"/>
					</a>
				</div>
			</div>
		</div>
	</div>
		<!-- 内容部分右侧结束 -->
