<div class="main_right">
	<div class="f_top">
		<p class="f_one">“先进的技术力量和技巧。21世纪ASA DIGIWEB带头。”</p>
		<p class="f_two">我公司网站主页访问给顾客的感谢感谢。客户的意思，首先是最有竞争力的公司。</p>
		<p class="f_three">我们企业的先进技术和专有技术，目前在不同行业的代表性公司。过去多年来的努力和尝试错误，通过我们的企业顾客一起成长。</p>
		<p class="f_three">相关行业的竞争越来越激烈的情况下，顾客为先的技术基础上推出，00 00使用化，成功多通信行业的热点集中。以后我们企业乃至21世纪的全球性企业，增长我客户的支持看答案</p>
		<p class="f_three">过去多年来的努力和尝试错误，通过我们的顾客和企业一起成长。相关行业的竞争越来越激烈的情况下，客你首先想到的技术基础上推出，00 00使用化成功，通信行业的集中。</p>
		<p class="f_three">相关行业的竞争越来越激烈的情况下，顾客为先的技术基础上推出，00 00使用化，成功多通信行业的热点集中。 </p>
		<p class="f_three">以后我们企业乃至21世纪的全球性企业，增长我客户回报大家的支持。</p>
	</div>
	<div class="f_bottom">
		<div class="f_first">
			<img src="images/f_3.png"/>
			<p class="f_one">客户为中心的服务企业</p>
		</div>
		<div class="f_secend">
			<img src="images/f_3.png"/>
			<p class="f_one">创新创新企业</p>
		</div>
		<div class="f_thired">
			<img src="images/f_3.png"/>
			<p class="f_one">世界中的互联网企业</p>
		</div>
	</div>
</div>
<!-- 内容部分右侧结束 --></div>