<!-- 内容部分右侧开始 -->
	<div class="main_right">
		<div class="f_top_a">
			<div class="f_kuang">
				<div class="f_right_one">
					<p class="f_p">
						<span>我公司网站建议事项或问讯事项的部分可以通过这里告诉我。我会尽快修改。</span>
						<span>
								搜索内容
							
							<input type="text" class="f_in" placeholder="输入查询--------------------" style="width: 500px;" ng-model="z_sou"/>
							<input type="button"  class="f_in_one" value="搜索" />
						</span>
					</p>
				</div>
			</div>
		</div>
		<div class="f_bottom_a">
			<p class="f_one">共发布50条消息</p>
			<div class="f_right_two">
				<div class="f_table" ng-controller='f_index1'>
					<table>
						<tr class="f_tr_one" style="border-bottom:2px solid #009ebb;"><th style="width: 107px;">编号</th><th>内容</th><th>日期</th></tr>
						<tr ng-repeat="x in data | filter: z_sou"><td>{{$index+1}}</td><td>{{x.title}}</td><td>{{x.num}}</td></tr>
					</table>
				</div>
				<div class="f_xu">
					<a href="javascript:;">
						<img src="images/f_6.png"/>
					</a>
					<a href="javascript:;">
						<img src="images/f_7.png"/>
					</a>
					<a href="javascript:;">1</a>
					<a href="javascript:;">2</a>
					<a href="javascript:;">3</a>
					<a href="javascript:;">4</a>
					<a href="javascript:;">5</a>
					<a href="javascript:;">6</a>
					<a href="javascript:;">7</a>
					<a href="javascript:;">8</a>
					<a href="javascript:;">9</a>
					<a href="javascript:;">10</a>
					<a href="javascript:;">
						<img src="images/f_8.png"/>
					</a>
					<a href="javascript:;">
						<img src="images/f_9.png"/>
					</a>
				</div>
			</div>
		</div>
	</div>
		<!-- 内容部分右侧结束 -->
