<!-- 内容部分右侧开始 -->
<div class="history_right">
    <div class="l_fdq">
    	<span class="l_num3">2000</span>
    	<span class="l_text3">发电期</span>
    </div>
    <div class="l_hwsc">
    	<span class="l_num4">2008</span>
    	<span class="l_text4">进军海外市场</span>
    </div>
    <div class="l_szq">
    	<span class="l_num2">1990</span>
    	<span class="l_text2">生长期</span>
    </div>
    <div class="l_clq">
    	<span class="l_num1">1980</span>
    	<span class="l_text1">创立期</span>
    </div>
    <div class="l_xq1">
        <span>2000年设计内容生意有了更大的发展</span>
    </div>
    <div class="l_xq2">
        <span>1990年网络事业有了大幅增长</span>
    </div>
    <div class="l_xq3">
        <span>1980年公司网站的域名事业创立了</span>
    </div>
    <div class="l_xq4">
        <span>2008年海外事业推进，准备更大的飞跃</span>
    </div>
   <div class="l_center">
        <div class="l_left">
        	<div class="l_left_pic1">
        		<span class="l_cl">1980年创立期历史</span>
        		<span class="l_d">1980年可以看到我公司网络创立期的历史</span>
        	</div>
        </div>
        <div class="l_c">
        	<div class="l_left_pic2">
        		<span class="l_cl">1990年生长期历史</span>
        		<span class="l_d">1990年可以看到我公司网络生长期的历史</span>
        	</div>
        </div>
        <div class="l_right">
        	<div class="l_left_pic3">
        		<span class="l_cl">2000年发电期历史</span>
        		<span class="l_d">2000年可以看到我公司网络发电期的历史</span>
        	</div>
        </div>
    </div>
    <div class="l_foot">
        <div class="l_f1">
        	<span class="l_color"></span>
        	<span class="l_n">2008</span>
        	<span class="l_t1">I 04专利注册参数文件的网站编辑装置及方法</span>
        	<span class="l_t2">Ⅱ 08（周）公司网站成立10周年纪念</span>
        	<span class="l_t3">Ⅲ 12中小企业厅厅长奖</span>
        </div>
        <div class="l_f2">
        	<span class="l_color2"></span>
        	<span class="l_n2">2007</span>
        	<span class="l_t1">I 04专利注册参数文件的网站编辑装置及方法</span>
        	<span class="l_t2">Ⅱ 08（周）公司网站成立10周年纪念</span>
        	<span class="l_t3">Ⅲ 12中小企业厅厅长奖</span>
        </div>
        <div class="l_f3">
        	<span class="l_color3"></span>
        		<span class="l_n3">2006</span>
        		<span class="l_t1">I 04专利注册参数文件的网站编辑装置及方法</span>
        		<span class="l_t2">Ⅱ 08（周）公司网站成立10周年纪念</span>
        		<span class="l_t3">Ⅲ 12中小企业厅厅长奖</span>
        </div>
        <div class="l_f4">
        	<span class="l_color4"></span>
        	<span class="l_n4">2005</span>
        	<span class="l_t1">I 04专利注册参数文件的网站编辑装置及方法</span>
        	<span class="l_t2">Ⅱ 08（周）公司网站成立10周年纪念</span>
        	<span class="l_t3">Ⅲ 12中小企业厅厅长奖</span>
        </div>
    </div>
</div>
		<!-- 内容部分右侧结束 -->