 <div class="h-main">
	    <div class="h-banner">
	        <div class="h-banner_nr">
	            <h3>创新业务，以一步领先企业。</h3>
	            <h2>
	                <b>Best</b> Business <b>Partner</b>
	            </h2>
	            <h4>
	                Asadal has been running one of the biggest domain and web hosting sites in Korea since May 1998.
	                More than 3,000,000 1998.visited our website www.asadal.com, for domain registration, web hosting,
	                web programming, and homepage building ser1998.
	            </h4>
	        </div>
	    </div>
	    <div class="h-center">
	        <div class="h-center_nr">
	            <div class="h-center_top">
	                <div class="h_top_left">
	                    <div class="h_topLeft_left">
	                        <h2>Business <b>Story</b></h2>
	                        <div class="left_z">
	                            <span>商业故事</span>
	                            <span>我公司网站进行的工作有关的内容版。工作区或以后的计划一起介绍给您。</span>
	                        </div>
	                    </div>
	                    <div class="h_topLeft_right">
	                        <img src="../images/h-nr-left.png">
	                    </div>
	                </div>
	                <div class="h_top_center">
	                    <h2>Notice</h2>
	                    <ul>
	                      <li>
	                        <span>我公司网站上的新消息通知...</span>
	                        <span>[2008-00-00]</span>
	                        <div style="clear: both;"></div>
	                      </li>
	                      <li>
	                        <span>成立10周年纪念活动的计划...</span>
	                        <span>[2008-00-00]</span>
	                        <div style="clear: both;"></div>
	                      </li>
	                      <li>
	                        <span>新产品上市一个月...</span>
	                        <span>[2008-00-00]</span>
	                        <div style="clear: both;"></div>
	                      </li>
	                    </ul>
	                </div>
	                <div class="h_top_right">
	                    <div class="h_topRight_z">
	                        <img src="../images/h-nr-right.png">
	                    </div>
	                    <div class="h_topRight_y">
	                        <h2>Online Recruit</h2>
	                        <button id="btn">公司正为支持</button>
	                        <ul>
	                            <li>典型结果确认</li>
	                            <li>典型程序指南</li>
	                            <li>招聘咨询</li>
	                            <li>招聘问题FAQ</li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	            <div class="h-center_bottom">
	                <div class="h-bottom_left">
	                    <p>首尔市去。加纳东123 - 00 45万大厦楼买网络tel；01）234 -注意动作。- 9 / fax：02 - 345 -</p>
	                    <p>版权所有©的asaweb。版权所有。电子邮件：asa@asadal.com</p>
	                </div>
	                <div class="h-bottom_right">
	                    <ul>
	                        <li>个人信息</li>
	                        <li>政策条款</li>
	                        <li>会员注册</li>
	                        <li>找回来的路</li>
	                    </ul>
	
	                </div>
	            </div>
	        </div>
	    </div>
</div>