<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../styles/j-center.css" />
		<title></title>
	</head>
	<body>
		<div class="jcenter">
			<div class="jc-head">
				<div class="jc-tq">
					<span class="jc-tz">
						<span class="jc-tzz">
							<img src="../images/j-_03.png" />
						</span>
					</span>
					<h4>A/S SERVICE CENTER</h4>
					<b>1234-5555 ~ 8</b>
					<p class="jsearch">搜索用户中心</p>
					<span class="jsearch-k">
						<select>
							<option>本地搜索----</option>
						</select>
						
						<select>
							<option>搜索服务中心----</option>
						</select>
						
						<button>搜索</button>
					</span>
					<span class="jman">
						<img src="../images/j-_06.png" />
						<p>中心访问，<br />在地图上搜索，的服务中心访问。<br />咨询员的连接，请参考下面的内容。</p>
					</span>
					<p class="jcomment">评日：上午9点到下午6点联系。</p>
					<p class="jcomment-t">假日：电子邮件作为门的。<br />
						 asadal @ asadal。com发邮件给我。</p>
					<p class="jcomment">联系人：国家没有1234号-注意动作号，请联系我。</p>
					
				</div>
			</div>
			<!--content上半部分完成-->
			<div class="jcenter-z">
				<span class="j-serve">
					<span class="j-serve1">
						<img src="../images/j-_11.png" />
						<b>1:1服务</b>
						<p>1:1咨询服务</p>
					</span>
					<span class="j-serve1">
						<img src="../images/j-_13.png" />
						<b>TV广告</b>
						<p>电视上的广告</p>
					</span>
					<span class="j-serve1">
						<img src="../images/j_15.png" />
						<b>平面广告</b>
						<p>广告</p>
					</span>
					<p class="j-service">
						<img src="../images/j_21.png" />亲切的客服表扬我
					</p>
					<p class="j-service">
						<img src="../images/j_21.png" />亲切的客服表扬我
					</p>
				</span>
				
				<ul class="j-mnav" type="square">
					<p>
						A/S SERVICE <span style="color:#afc0d3">BOARD</span>
						<img src="../images/j_21.png" />
					</p>
					<li>服务申请。快点吧...</li>
					<li>固件下载来接我...</li>
					<li>搜索。地点。不好...</li>
					<li>产品缺陷。请给我换...</li>
				</ul>
			</div>
			<!--content中上部分完成-->
			<div class="jcontent-zx">
				<p>我公司网站问讯事项有顾客们搜索类别选中内容的搜索问题的希望。</p>
				<span class="j-sou">
					查询：
					<select>
							<option>查询-------------------</option>
						</select>
						
						<select>
							<option>输入查询----------------------------</option>
						</select>
						
						<button>搜索</button>
				</span>
			</div>
			
			<ul class="jcontent-x">
				<li>pmp G2-100</li>
				<li>notebook </li>
				<li>mp3 S2-100</li>
				<li>television</li>
				<li>mobile Phone</li>
				<li>Computer</li>
			</ul>
			<!--content下部分-->
			<div class="jcontentx">
				<p>共50条信息</p>
				<ul class="jcontent-xs">
					<li>编号</li><span></span>
					<li>搜索分类</li><span></span>
					<li>内容</li><span></span>
					<li>评价</li>
				</ul>
				
				<ul class="jcontent-xs1">
					<li>10</li>
					<li>Pmp G2-100</li>
					<li>这里是服务中心的布告牌。产品分类。 </li>
					<li><img src="../images/j_29.png" /></li>
				</ul>
				<ul class="jcontent-xs1">
					<li>9</li>
					<li>Notebook</li>
					<li>这里是服务中心的布告牌。产品分类。 </li>
					<li><img src="../images/j-_21.png"/></li>
				</ul>
				<ul class="jcontent-xs1">
					<li>8</li>
					<li>Mp3 S2-100 </li>
					<li>这里是服务中心的布告牌。产品分类。 </li>
					<li><img src="../images/j_29.png" </li>
				</ul>
				<ul class="jcontent-xs1">
					<li>7</li>
					<li>Television  </li>
					<li>这里是服务中心的布告牌。产品分类。 </li>
					<li><img src="../images/j_31.png" /></li>
				</ul>
				<ul class="jcontent-xs1">
					<li>6</li>
					<li>Mobile Phone</li>
					<li>这里是服务中心的布告牌。产品分类。 </li>
					<li><img src="../images/j_29.png" /></li>
				</ul>
				<ul class="jcontent-xs1">
					<li>5</li>
					<li> Computer</li>
					<li>这里是服务中心的布告牌。产品分类。 </li>
					<li><img src="../images/j-_21.png" /></li>
				</ul>
				<ul class="jcontent-xs1">
					<li>4</li>
					<li>Pmp G2-100</li>
					<li>这里是服务中心的布告牌。产品分类。 </li>
					<li><img src="../images/j_29.png" /></li>
				</ul>
				<ul class="jcontent-xs1">
					<li>3</li>
					<li>Pmp G2-100</li>
					<li>这里是服务中心的布告牌。产品分类。 </li>
					<li><img src="../images/j_29.png" /></li>
				</ul>
				<ul class="jcontent-xs1">
					<li>2</li>
					<li>Pmp G2-100</li>
					<li>这里是服务中心的布告牌。产品分类。 </li>
					<li><img src="../images/j_31.png" /></li>
				</ul>
				<ul class="jcontent-xs1">
					<li>1</li>
					<li>Pmp G2-100</li>
					<li>这里是服务中心的布告牌。产品分类。 </li>
					<li><img src="../images/j_29.png" /></li>
				</ul >
			</div>
		</div>
	</body>
</html>
