
<meta charset="UTF-8">
	<div class="main_right">
		<div class="M_right">
			<div class="M_right_one">
				<p class="M_p">
					<span>我公司网站建议事项或问讯事项的部分可以通过这里告诉我。我会尽快修改。</span>
					<span>
						搜索分类
						<input type="text" name="" id="" placeholder="输入分类-----------------" ng-model="M_aaa"/>
						<!--<img src="../images/Mimg-1.jpg" class="M_imga"/>-->
						<input type="text" name="" id="" class="M_in" placeholder="输入作者----------------------------------------" ng-model="M_bbb"/>
						<!--<img src="../images/Mimg-1.jpg" class="M_imga"/>-->
						<input type="button" name="" id=""  class="M_in_one" value="搜索" />
					</span>
				</p>
			</div>
			<div class="M_right_two">
				<ul class="M_tr_one">
					<li class="M_li_one">编号</li>
					<span></span>
					<li class="M_li_two">搜索分类</li>
					<span></span>
					<li class="M_li_three">作者</li>
					<span></span>
					<li class="M_last_li">评价</li>
				</ul>
				<div class="M_table" ng-controller='mxy'>
					<table border="" cellspacing="" cellpadding="">
						<tr ng-repeat='x in data | filter:M_aaa | filter:M_bbb '>
							<td class="M_li_one">{{$index+1}}</td>
							<td class="M_li_two">{{x.title}}</td>
							<td class="M_li_three">{{x.author}}</td>
							<td>{{x.date}}</td>
						</tr>	
					</table>
			</div>
			<div class="M_xu">
				<div class="M_xu_two">			
					总共1页
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 内容部分右侧结束 -->