<meta charset="UTF-8">
	<div class="main_right">
		<div class="M_right">
			<div class="M_right_one">
				<p class="M_p">
					<span>我公司网站建议事项或问讯事项的部分可以通过这里告诉我。我会尽快修改。</span>
					<span>
						搜索分类
						<input type="text" name="" id="" value="输入表单-----------------"/>
						<img src="../images/Mimg-1.jpg" class="M_imga"/>
						<input type="text" name="" id="" class="M_in" value="输入查询----------------------------------------"/><img src="../images/Mimg-1.jpg" class="M_imga"/>
						<input type="button" name="" id=""  class="M_in_one" value="搜索" />
					</span>
				</p>
			</div>
			<div class="M_right_two">
				<span class="M_span">共发布100条消息</span>
				<ul class="M_tr_one">
					<li class="M_li_one">编号</li>
					<span></span>
					<li class="M_li_two">搜索分类</li>
					<span></span>
					<li class="M_li_three">内容</li>
					<span></span>
					<li class="M_last_li">评价</li>
				</ul>
				<div class="M_table">
					<table border="" cellspacing="" cellpadding="">
					<!--<tr class="M_tr_one"><th>序号</th><th>内容</th><th>名字</th><th>日期</th></tr>-->
					<tr><td class="M_li_one">10</td><td class="M_li_two">这里是自由论坛，大家可以自由讨论一下...</td><td class="M_li_three">洪吉童</td><td>2008.01.01</td></tr>
					<!--<tr><td class="M_li_one">09</td><td class="M_li_two">这里是自由论坛，大家可以自由讨论一下...</td><td class="M_li_three">洪吉童</td><td>2008.01.01</td></tr>-->
					<!--<tr><td class="M_li_one">08</td><td class="M_li_two">这里是自由论坛，大家可以自由讨论一下...</td><td class="M_li_three">洪吉童</td><td>2008.01.01</td></tr>-->
					<!--<tr><td class="M_li_one">07</td><td class="M_li_two">这里是自由论坛，大家可以自由讨论一下...</td><td class="M_li_three">洪吉童</td><td>2008.01.01</td></tr>-->
					<!--<tr><td class="M_li_one">06</td><td class="M_li_two">这里是自由论坛，大家可以自由讨论一下...</td><td class="M_li_three">洪吉童</td><td>2008.01.01</td></tr>-->
					<!--<tr><td class="M_li_one">05</td><td class="M_li_two">这里是自由论坛，大家可以自由讨论一下...</td><td class="M_li_three">洪吉童</td><td>2008.01.01</td></tr>-->
					<!--<tr><td class="M_li_one">04</td><td class="M_li_two">这里是自由论坛，大家可以自由讨论一下...</td><td class="M_li_three">洪吉童</td><td>2008.01.01</td></tr>-->
					<!--<tr><td class="M_li_one">03</td><td class="M_li_two">这里是自由论坛，大家可以自由讨论一下...</td><td class="M_li_three">洪吉童</td><td>2008.01.01</td></tr>-->
					<!--<tr><td class="M_li_one">02</td><td class="M_li_two">这里是自由论坛，大家可以自由讨论一下...</td><td class="M_li_three">洪吉童</td><td>2008.01.01</td></tr>-->
					<!--<tr><td class="M_li_one">01</td><td class="M_li_two">这里是自由论坛，大家可以自由讨论一下...</td><td class="M_li_three">洪吉童</td><td>2008.01.01</td></tr>-->
				</table>
			</div>
			<div class="M_xu">
				<div class="M_xu_two">
					<a href="javascript:;" class="M_aa">
						<img src="../images/Mimg_2.png"/>
					</a>
					<a href="javascript:;" class="M_aa">
						<img src="../images/Mimg_3.png"/>
					</a>
					<a href="javascript:;">1 </a>
					<a href="javascript:;">2</a>
					<a href="javascript:;">3</a>
					<a href="javascript:;">4</a>
					<a href="javascript:;">5</a>
					<a href="javascript:;">6</a>
					<a href="javascript:;">7</a>
					<a href="javascript:;">8</a>
					<a href="javascript:;">9</a>
					<a href="javascript:;" class="M_aa_ten">10</a>
					<a href="javascript:;" class="M_aa">
						<img src="../images/Mimg_4.png"/>
					</a>
					<a href="javascript:;" class="M_aa">
						<img src="../images/Mimg_5.png"/>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script>

</script>
<!-- 内容部分右侧结束 -->
