<div class="main_right">
	<div class="M_right">
		<div class="M_right_one">
			<p class="M_p">
				<span>我公司网站建议事项或问讯事项的部分可以通过这里告诉我。我会尽快修改。</span>
				<span>
					搜索分类
					<input type="text" name="" id="" value="输入表单-----------------"/>
					<img src="../images/Mimg-1.jpg" class="M_imga"/>
					<input type="text" name="" id="" class="M_in" value="输入查询--------------------------------------------------"/>
					<img src="../images/Mimg-1.jpg" class="M_imga"/>
					<input type="button" name="" id=""  class="M_in_one" value="搜索" />
				</span>
			</p>
		</div>
		<div class="M_right_two">
			<p>
				<span class="M_span_one">
					<a href="javascript:;">标题</a>
				</span>
				<span class="M_span_two">
					<input type="text" name="" id="" value=""   class="M_in_two" />
				</span>
			</p>
			<p>
				<span  class="M_span_one">
					<a href="javascript:;">名字</a>
				</span>
				<span class="M_span_two">
					<input type="text" name="" id="" value=""  class="M_in_two"/>
				</span>
			</p>
			<p>
				<span class="M_span_one">
					<a href="javascript:;">联系方式</a>
				</span>
				<span class="M_span_two M_span_to">
					<input type="text" name="" id="" value="" class="M_in_three"/> ——
					<input type="text" name="" id="" value="" class="M_in_three"/> ——
					<input type="text" name="" id="" value="" class="M_in_three"/>
				</span>
			</p>
			<p>
				<span class="M_span_one">
					<a href="javascript:;">电子邮件</a>
				</span>
				<span class="M_span_two">
					<input type="text" name="" id="" value=""  class="M_in_two"/>
				</span>
			</p>
			<p class="M_p_last">
				<span class="M_sp_one">
					<a href="javascript:;">地址</a>
				</span>
				<span class="M_sp_two">
					<span class="M_in_four" contenteditable='true'>			
					</span>
				</span>
			</p>
			<p class="M_btn">
				<input type="button" name="" id="" value="CONFIRM" />
				<input type="button" name="" id="" value="CANCEL" />					
			</p>
		</div>
	</div>
</div>
<!-- 内容部分右侧结束 -->