<div class="main_right" ng-controller="os">
	<div class="M_right">
		<div class="M_right_one">
			<!--<p class="M_p">
				<span>我公司网站建议事项或问讯事项的部分可以通过这里告诉我。我会尽快修改。</span>
				<span>
					搜索分类
					<input type="text" name="" id="" value="输入表单-----------------"/>
					<img src="../images/Mimg-1.jpg" class="M_imga"/>
					<input type="text" name="" id="" class="M_in" value="输入查询--------------------------------------------------"/>
					<img src="../images/Mimg-1.jpg" class="M_imga"/>
					<input type="button" name="" id=""  class="M_in_one" value="搜索" />
				</span>
			</p>-->
		</div>
		<<div class="M_right_two">
				<span class="M_span">共发布100条消息</span>
				<ul class="M_tr_one">
					<li class="M_li_one">编号</li>
					<span></span>
					<li class="M_li_two">内容</li>
					<span></span>
					<li class="M_li_three">名字</li>
					<span></span>
					<li class="M_last_li">时间</li>
				</ul>
				<div class="M_table">
					<table border="" cellspacing="" cellpadding="">
					<tr ng-repeat='i in data'>
						<td class="M_li_one">{{$index+1}}</td>
						<td class="M_li_two">{{i.content}}</td>
						<td class="M_li_three">{{i.name}}</td>
						<td>{{i.date}}</td>
					</tr>
				</table>
			</div>
		<div class="M_right_two">
			<p>
				<span  class="M_span_one">
					<a href="javascript:;">名字</a>
				</span>
				<span class="M_span_two">
					<input type="text" name="" id="" value="" ng-model="ud.name"  class="M_in_two"/>
				</span>
			</p>
			<p class="M_p_last">
				<span class="M_sp_one">
					<a href="javascript:;">内容</a>
				</span>
				<span class="M_sp_two">
					<textarea class="M_in_four"  ng-model="ud.content">			
					</textarea>
				</span>
			</p>
			<p>
				<span class="M_span_one">
					<a href="javascript:;">时间</a>
				</span>
				<span class="M_span_two">
					<input type="text" name="" id="sj" value="" ng-model="ud.date"  class="M_in_two"/>
				</span>
			</p>
			<p class="M_btn">
				<input type="button" name="" id="" ng-click="submit()" value="提交" />				
			</p>
		</div>
	</div>
</div>
<!-- 内容部分右侧结束 -->