	<div class="main_rt">
		<div class="dt">
			<iframe width="604" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/ybmsF"></iframe>
		</div>
	</div>
	<div class="main_rb">
	 	<ul class="main_rbu">
			<li>
				<span>详细地址<img src="../images/s__07.png"></span>
				<b>北京市大兴区西红门鸿坤大厦</b>
			</li>
			<li>
				<span>联系电话<img src="../images/s__07.png"></span>
				<b>010-12369845&nbsp;/&nbsp;010-46547892</b>
			</li>
			<li>
				<span>公交路线<img src="../images/s__07.png"></span>
				<b>乘坐474、827、829到洪福路东口下车</b>
			</li>
		</ul>
	</div>