    <div class="banner">
    	<img src="images/banner_06.jpg">
    </div>
    <!--banner  结束-->
    
    <!--内容部分开始-->
		<div id="main" ng-controller="smap">
			<!-- 内容部分左侧开始 -->
			<div class="main_left">
				<!--上部  导航 开始-->
				<div class="main_lt">
					<ul class="main_ltu">
						<li>
							<a ui-sref="main">
								公告事项
							</a>
						</li>
						<li>
							<a ui-sref="sma">
								地图
							</a>
						</li>
						<li>
							<a ui-sref="main">
								问题解答
							</a>
						</li>
						<li>
							<a ui-sref="main">
								留言板
							</a>
						</li>
						<li>
							<a ui-sref="main">
								进行中的事情
							</a>
						</li>
						<li>
							<a ui-sref="main">
								新闻
							</a>
						</li>
					</ul>
				</div>
				<!--上部导航   结束-->
				<!--下部导航   开始-->
				<div class="main_lb">
					<div class="main_lbt">
						<div class="main_lbtl">
							<img src="images/s_4_09.jpg"/>
						</div>
						<div class="main_lbtr">
							<h1>Business<span>Story</span></h1>
							<p>我公司网站上进行工作的内容有错误。</p>
						</div>
					</div>
					<div class="main_lbb">
						<div class="main_lbbl">
							<img src="images/s_5_09.jpg"/>
						</div>
						<div class="main_lbbr">
							<h1>01. 234.<span>5678</span></h1>
							<p>顾客闻讯事项有联系。</p>
						</div>
					</div>
				</div>
				<!--下部导航 结束-->
			</div>
			<!-- 内容部分左侧结束 -->
			
			<!-- 内容部分右侧开始 -->
			<div class="main_right" ui-view=''>
				
			</div>
			<!-- 内容部分右侧结束 -->
		</div>
		<!--内容部分结束-->
    
    <!--底部部分开始-->
		<div id="fonnter">
			<p>北京市 大兴区 西红门 鸿坤大厦8层  COPYRIGHT&copy; SJZLMHF BY ASAWEB. ALL RIGHT RESRVED . E-MALL:1002@QQ.COM</p>	
		</div>
		<!--底部部分结束-->
			