<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link type="text/css" href="../styles/zq.css" rel="stylesheet" />
	<body>
		<div class="zq">
			<div class="zq-top">
				<h2>
					你有没有为将来打算呢.
				</h2>
				<u>
					数码的未来ASA在各位的热情和能力不断展示.
				</u>
				<p>
					每个人的无限的可能性。我梦想为现实的企业的网络中生活的。
				</p>
				<p>
					人才招聘网站,公司企业都向大家打开。
				</p>
				<p>
					现在迎接挑战。
				</p>
				<div>
					<span class="span1">
						<h3>新员工</h3>
						<a href="#">more</a>
						<font>清新和热情</font>
						<font>新员工招聘</font>
					</span>
					<span class="span1">
						<h3>新员工</h3>
						<a href="#">more</a>
						<font>清新和热情</font>
						<font>新员工招聘</font>
					</span>
					<span>
						<h3>新员工</h3>
						<a href="#">more</a>
						<font>清新和热情</font>
						<font>新员工招聘</font>
					</span>
					<span>
						<h3>新员工</h3>
						<a href="#">more</a>
						<font>清新和热情</font>
						<font>新员工招聘</font>
					</span>
				</div>
			</div>
			<div class="zq-bottom">
				<div class="zq-bottom-left">
					<div class="zq-div1">
						<span class="zq-span1">
							<h3>FAQ</h3>
							<font>常见问题论坛</font>
							<s>MORE</s>
							<ol type="1" start="1">
								<li>
									招聘公告有关常见问题,参考一下。 
								</li>
								<li>
									随时招聘了,期间的问题。 
								</li>
								<li>
									管理支持问题的答案了。参考一下。
								</li>
								<li>
									合格与否，你知道吗？个别通知一下吗？
								</li>
							</ol>
						</span>
						<div class="zq-div2">
							<h3>
								搜索问题
							</h3>
							<select>
								<option></option>
							</select>
							<input type="submit"/>
						</div>
					</div>
					<div class="zq-div3">
						<h3>
							公司援助想确认在这里的人。 
						</h3>
						<span class="zq-span2">
							<span>
								<p>身份证号码</p>
								<input type="number" class="zq-int1" />
								<input type="submit" class="zq-int2" />
							</span>
							<span>
								<p>支持的领域</p>
								<input type="text" class="zq-int1" />
								<input type="submit" class="zq-int2" />
							</span>
						</span>
					</div>
				</div>
				<div class="zq-bottom-right">
					<div class="zq-btop">
						<h3>RECRUIT <color>CONTACT</color></h3>
						<ul type="square">
							<li>招聘岗位：有经验的新员工，CS</li>
							<li>期：必要时随时招聘 </li>
							<li>负责人：经营部洪吉童科长 </li>
							<li>电话 : 01-234-5678</li>
							<li>FAX : 02-345-6789</li>
							<li>电子邮件：asaweb @ asaweb。com</li>
						</ul>
					</div>
					<div class="zqbbottom">
						<div class="zqb-left">
							<img src="../images/zq2.jpg">
							<input type="submit" />
						</div>
						<div class="zqb-right">
							<h3>RECRUIT <color>CONTACT</color></h3>
							<ul type="square">
								<li>招聘：有经验</li>
								<li>期：随时招聘 </li>
								<li>负责人：童科长 </li>
								<li>电话 :234-5678</li>
								<li>FAX :6789</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
